.container{
    text-align: center;
}
table{
    margin: auto;
    margin-top: 10px;
}
input{
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid red;
}
button{
    width: 70px;
    border-radius: 15px;
    background: grey;
    color: white;
    height: 50px;
    font-size: 18px;
}
.calculator{
    background: green;
    display: inline-block;
    padding: 25px;
    border-radius: 30px;
    border: 2px solid black;
}